* {
  margin: 0;
  padding: 0;
}
html, body {
 min-height: 100vh;
}

.main {
  min-height: 100%;
  padding: 0;
  height: auto !important;
  margin: 0;
  position: relative;
  padding-bottom: 50px;
  background-color: cadetblue;

}

header {
  padding: 10px;
  width: 100%;
}



ul,
li {
  list-style: none;
}

footer {
  margin-top: auto;
}